<%- include('partials/header') %>

	<div class="container">
		<header class="jumbotron-text mt-5 text-center">
			<h1 class="display-4"> Welcome to Explore </h1>
			<p class="lead">View are hand picked grounds from all over the world</p>
			<a class="btn btn-primary" href='/countries/new'>Add New Country</a><br>
		</header>
		<form id="form1" action="/countries" method="GET">
			<div id="label"></div>
			Country: <select class="form-control" id="country">
				<option value="no" selected disabled=true>--- Select Format ---</option>
				<% data.countries.forEach(function(item){ %>
				<option value="<%= item.name %>"><%= item.name %></option>
				<% }) %>
			</select>
			  <!-- <button class="btn pmd-ripple-effect btn-dark" runat="server"  onclick="getOption()">
				Check option
			  </button> -->
		  </form>
		<section id="scrims-ladder--container" class="scrims-ladder">
			<div class="ladder-nav--results">
				<div class="ladder-nav--results-col">
					<label>Flag</label>
				</div>
				<div class="ladder-nav--results-col">
					<label>Country</label>
				</div>
				<div class="ladder-nav--results-col">
					<label>Continent</label>
				</div>
				<div class="ladder-nav--results-col">
					<label>Rank</label>
				</div>
				<div class="ladder-nav--results-col">
					<label>More</label>
				</div>
			</div>
			<% data.countries.forEach(function(item){ %>
				<div id= "<%= item.name %>" class="ladder-nav--results-countries">
					<div class="results-col">
						<span class="results-rank"><span class="positions"><img src="<%= item.flag %>"
									class="card-img-top img-thumbnail" alt="..."></span></span>
					</div>
					<div class="results-col">
						<span class="results-team">
							<%= item.name %>
						</span>
					</div>
					<div class="results-col">
						<span class="results-p1">
							<%= item.continent %>
						</span>
					</div>
					<div class="results-col">
						<span class="results-p2">
							<%= item.rank %>
						</span>
					</div>
					<div class="results-col">
						<span class="results-p2"><i class="fas fa-arrow-circle-right"></i></span>
					</div>
				</div>
				<% }) %>
		</section>
	</div>


	<%- include('partials/footer') %>